body {
	height:250px;
	width:150px;
}
@font-face {
    font-family: myFirstFont;
    src: url(Branding/OpenSans-Light.ttf);
}
h1{
    text-align: center;
    color: black;
    font-size: 14px;
	word-spacing: 20px;
	text-decoration: bold;
	background-color: #929596;
    font-family: myFirstFont;
}
 
input[type="password"], input[type="text"]{
    border: 1px solid black;
    border-radius: 2px;
}
.login-prompt{
    text-align: center;
    color: black;
    font-size: 12px;
    font-family: myFirstFont;
}

#login{
    background-color: #929596;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    font-family: myFirstFont;
    font-size: 16px;
}

.button-frame{
    text-align: center;
    color: white;
    font-size: 15px;
    height: 80px;
    font-family: myFirstFont;
}

.link-frame{
    text-align: center;
    color: white;
    font-size: 15px;
    height: 80px;
    font-family: myFirstFont;
}
