h1{
    text-align: center;
    color: black;
    font-size: 35px;
    height: 50px;
    font-family: "Courier New";
}
/* Text input */
input[type="text"]{
    border: 2px solid black;
    border-radius: 4px;
}
.login-prompt{
    text-align: center;
    color: black;
    font-size: 15px;
    height: 80px;
    font-family: "Courier New";
}

/* Button(s) */
#login{
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    /*text-decoration: none;*/
    font-family: "Courier New";
    /*display: inline-block;*/
    font-size: 16px;
}

.button-frame{
    text-align: center;
    color: black;
    font-size: 15px;
    height: 100px;
    font-family: "Courier New";
}
